html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  font-family: "Arial Narrow";
}

.moodboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 300px;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
}

.image-slot {
  overflow: hidden;
  border-radius: 12px;
}

.image-slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease;
}

.image-slot img:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.title {
    text-align: center;
    text-transform: lowercase;
}